<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TaekwondoApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pensum">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Pensum
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bruger">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Bruger
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="klub">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Klub
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="programplan">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> ProgramPlan
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="quiz">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Quiz
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="teknik">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Teknik
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="teori">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Teori
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="øvelse">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Øvelse
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ordbog">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ordbog
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Login
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="enable-2fa">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Enable-2fa
            </NavLink>
        </div>
    </nav>
</div>

