@page "/"
@using TaekwondoApp.Shared.Services
@inject IFormFactor FormFactor

<PageTitle>Home</PageTitle>

<h1>Hello, og velkomen til Taekwondo Pensum App!</h1>

Velkommen du er på en <em>@factor</em> der bruger <em>@platform</em>.

@code {
    private string factor => FormFactor.GetFormFactor();
    private string platform => FormFactor.GetPlatform();
}
